* {
    font:"Times New Roman", sans-serif;
}

body {
    
        display:flex;
        flex-direction: column;
        
        background-image: url('background.jpg');
        background-size: cover;
        
     
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  height:50px;
  width: auto;
  padding:20px;
  border-style: solid;
  margin:20px;
  color:teal;
  background-color: thistle;
  border-color: black;
  opacity: 0.9;
  

}

.left-links, .right-links {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  
  
}

.right-links{
  font-size: medium;
}

ul {
  display:flex;
  justify-content: center;
 
  list-style:none;
  
 
  
  
}

li .li {
  display:flex;
  justify-content: center;
  
  color: brown;
  border-color:black;
  border:5px;
  
}


a{
  text-decoration: none;
  margin:10px;
  padding:10px;

}

a:hover {
  color:red;
  
  

}

.main {
  display:flex;
  flex-direction: column;
  padding:20px;
  margin:20px;
  background-color: wheat;
  opacity:0.9;
  border-style: solid;
  border-color:black;

}
.main .tarifler {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .linkler {
  flex-direction: column;
  
  font: blue ;
  font-size:2em;

}

h1 {
    background-color: rgb(101, 141, 101);
    color:rgb(233, 223, 223);
    text-align: center;
    
    font-weight: bold;
    font-size: 36px;
}

h2 {
    background-color: none;
    color:rgb(134, 34, 134);
    
    
    font-style: italic;
    font-size: 28px;
}

h3 {
    color: cornflowerblue;
    text-decoration: underline;
    font-style: italic;
    font-size: 24px;
}

p {
    font-size: 20px;
}




  
 
  
  img  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900;
   
 
 
     
 
 }

 
 